<div class="banner full-vh">
  <div class="banner-content">
    <%= image_tag "waves.png", id:"top-waves", class:"waves" %>
    <%= image_tag "typo.png", id:"typo" %>
    <p>optimize your music festival's experience</p>
    <%= image_tag "waves.png", class:"waves" %>
  </div>
</div>
<%= render 'shared/flashes' %>

<div class="padding-topbot-85" id="concept">
    <div class="container">
      <div class="row">
        <h2 class="text-center pink-shadow">festivals</h2>
        <hr>
        <% @festivals.each do |r| %>
        <%= render "festival", festival: r %>
        <% end %>
      </div>
    </div>
</div>

<div class="wrapper-blue padding-topbot-85" id="festivals">
    <div class="container">
      <div class="row">
        <h2 class="text-center pink-shadow">concept</h2>
        <hr>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
          <%= image_tag "list-2.png", class:"picto" %>
          <h3>Choose</h3>
          <p>Choose the artists you wanna see.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag "calendar.png", class:"picto" %>
          <h3>Export</h3>
          <p>Download your ical festival's schedule.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag "spotify.png", class:"picto" %>
          <h3>Listen</h3>
          <p>Create your festival Spotify playlist.</p>
        </div>
      </div>
    </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.tohide').hide();
      $(window).scroll(function() {
          var scroll = $(window).scrollTop();

          if (scroll >= $(window).height()) {
              $(".navbar-wagon").addClass("lighter-background");
              $(".navbar-wagon").addClass("box-shadow");
              $('.tohide').show();
          } else {
              $(".navbar-wagon").removeClass("lighter-background");
              $(".navbar-wagon").removeClass("box-shadow");
              $('.tohide').hide();
          }
      });
      $('#scroll').click(function() {
        $('html, body').animate({
          scrollTop: $("#concept").offset().top
        }, 1500);
      });
    });
  <% end %>

<!--   <script>
  $(document).ready(function() {
      var tour = new Tour({
      orphan: true,
      steps: [
      {
        orphan: true,
        title: "Welcome to SuperFestival",
        content: "Let us help you getting ready for your next festival"
      },
      {
        placement: 'left',
        element: "#login",
        title: "First, you need to create an account",
        content: "This will allow you to access all our features"
      },
      next();
      {
        element: "#festiv",
        title: "First, click on your festival",
        content: "Let say you're going to Lollapalooza"
      },
      ]});

    tour.init();
    tour.start();
  });
</script> -->
<% end %>
