<div id="event-<%= event.id %>" class="margin-tb-10 text-center card-event concert" style="top:<% if event.concert.start_time.to_time.hour >= 0 && event.concert.start_time.to_time.hour <= 6 %><%= ((event.concert.start_time.to_time.hour + event.concert.start_time.to_time.min.to_f / 60) + @day_begin - 2) * 50 + 2 %><% else %><%= ((event.concert.start_time.to_time.hour + event.concert.start_time.to_time.min.to_f / 60) - @day_begin) * 50 + 2 %><% end %>px;height: <%= (event.concert.end_time - event.concert.start_time) / 72 - 2 %>px;">

  <h4><%= event.concert.artist.name %> // <%= event.concert.start_time.to_time.strftime("%H:%M") %> - <%= event.concert.end_time.to_time.strftime("%H:%M") %></h4>

    <%= link_to concert_event_path(event.concert, event), method: :delete, remote: true do %>
      <i class="fa fa-times" style="font-size: 20px; color: #32b796"></i>
    <% end %>

</div>
