 <div class="wrapper">
  <div class="container">
    <div class="row">

      <div class="timetable">

      </div>

      <h1><%= @festival.name %></h1>
    </div>
    <div class="row">
      <ul class="list-inline">
        <% @dates.each_with_index do |date, index| %>
        <li>
          <%= link_to festival_path(@festival, date: date, day: index + 1) do %>
          Day<%= index + 1 %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h3>List of concerts for this festival</h3>
      <% @concerts.each do |concert| %>
        <%= link_to concert_events_path(concert, day: @dates.index(concert.start_time.to_date) + 1, date: concert.start_time.to_date), method: :post do %>
        <%= render "concert", concert: concert %>
        <% end %>
      <% end %>

      <header>
        <div id="search-input"></div>
      </header>

      <main>
        <div id="right-column">
          <div id="hits"></div>
          <div id="pagination"></div>
        </div>
      </main>

      <!-- /INTERFACE -->

      <!-- TEMPLATES -->
      <script type="text/html" id="hit-template">
        <div class="hit">
          <div class="hit-content">
            <h3 class="hit-genre">{{{stage}}}</h3>
            <h3>{{{artist_name}}}</h3>
            <h3>{{{artist_genre}}}</h3>
<!--             <h2 class="hit-name">{{{_highlightResult.name.value}}}</h2>
 -->          </div>
        </div>
      </script>

      <script type="text/html" id="no-results-template">
        <div id="no-results-message">
          <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
        </div>
      </script>
      <!-- /TEMPLATES -->

      <!-- SCRIPTS -->
      <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    </div>
  </div>
</div>


-->
