<% content_for :meta_title, "#{@festival.name}" %>
<% content_for :meta_description, "Faites votre propre timetable pour #{@festival.name} grâce à Super Festival" %>
<% content_for :image_url, @festival.photo %>
  <%= render 'shared/flashes' %>

 <div class="wrapper">
   <div class="container">
      <div class="row" id="header-timetable-search">
        <div class="col-xs-12 col-lg-8">
          <header>
            <div id="search-input"></div>
          </header>
        </div>
        <div class="col-xs-12 col-lg-4" id= "download">
          <% if user_signed_in? %>
            <div class="download">
              <%= link_to timetables_url(:festival => params[:id]), class: "btn-std text-center" do %>
                <i class="fa fa-download" aria-hidden="true"></i> <%= "My timetable" %>
              <% end %>
              <%= link_to user_spotify_omniauth_authorize_path, class: "btn-spotify text-center" do %>
                <i class="fa fa-spotify" aria-hidden="true"></i> <%= "Get my playlist" %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="row">
         <div class="col-xs-12 col-lg-8" id="search-timetable-container">
          <header>
            <div id="concert_day" class="facet"></div>
            <div id="pagination"></div>
          </header>

          <main>
            <div>
              <div id="hits"></div>
              <span id="festival_name" class="facet hidden"></span>
            </div>
          </main>
        </div>

        <div id="timetable-container" class="col-lg-4">
          <%= render "timetable"%>
        </div>
        <!-- /INTERFACE -->

        <!-- TEMPLATES -->
        <script type="text/html" id="hit-template">

          <div class="hit" id="{{id}}">
            <div class="hit-content" id="content">
              <h5><span class="box-shadow">{{ artist_name }}</h5></span>
              <p>{{ artist_genre}} // {{ start_hour }} - {{ end_hour }}</p>
              <div class="margin-tb-7-2">
                <% if user_signed_in? %>
                  <a href="{{ event_url }}" data-method="post" data-remote="true" data-tooltip="Add to my timetable"><i class="fa fa-plus" aria-hidden="true" id="add"></i></a>
                <% end %>
                {{#best_song}}
                  <audio id="music" preload="true" data-hit_id="{{id}}">
                    <source src="{{best_song}}"
                         type='audio/mp3'>
                    <p>Your user agent does not support this streaming feature</p>
                  </audio>
                  <span data-tooltip="Listen"><a id="pButton" class="play" data-button_id="{{id}}"></a></span>
                {{/best_song}}
              </div>
            </div>
          </div>
        </script>

        <script type="text/html" id="no-results-template">
          <div id="no-results-message">
            <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
          </div>
        </script>
        <!-- /TEMPLATES -->

        <!-- SCRIPTS -->

      <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  function clickfestival() {
    $('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').click();
    $('a.ais-menu--link:contains("1")').parent().parent().click()
  }

  $(document).ready(function() {
    setTimeout(function(){
      if (!($('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').is(':checked'))) {
        setTimeout(clickfestival, 100)
      }

      var impossibleIds = <%= j @impossible_concerts.to_json %>;
      setImpossibleEvents(impossibleIds);

      var tour = new Tour({
      orphan: true,
      backdrop: true,
      steps: [
        {
          placement: 'left',
          element: "#timetable-container",
          content: "They appear on your timetable on the right (of course your can remove them)"
        },
        {
          placement: 'left',
          element: "#timetable-container",
          content: "They appear on your timetable on the right (of course your can remove them)"
        },
        {
          prev: 2,
          element: "#content",
          placement: 'bottom',
          title: "Discover new artists",
          content: "Listen to their music and add them to your timetable"
        },
        {
          placement: 'left',
          element: "#timetable-container",
          content: "They appear on your timetable on the right (of course your can remove them)"
        },
        {
          placement: 'left',
          element: "#download",
          title: "Is your whole timetable ready ?",
          content: "Adding it to your calendar and create your own personnalized spotify playlist"
        },
        {
          orphan: true,
          content: "It's your turn !! Live your SuperFestival !!"
        }
      ],
      onStart: function (tour) {
        tour.setCurrentStep(0);
      }
    });
    tour.init();
    console.log(tour);
    tour.start();

  });

    }, 400)

</script>
<script>
  window.onload = function() {

    $.ajax({
      type: 'GET',
      url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + 1
    });

    setTimeout(function(){
      $('div').on('click', ".ais-menu--link", function() { /* On écoute l'élément Parent .ais-menu--list et on déclenche une action au click sur l'élément enfant .ais-menu--link qui lui est généré dynamiquement */

        var day = parseInt($(this).text().slice(0,1));
        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
        });

      });

      if($('.ais-menu--list').children().hasClass('ais-menu--item__active')){
        var day = parseInt($('.ais-menu--item__active').text().slice(0,1));

        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
        });

      };

    }, 1000)

    $('#search-timetable-container').on('click', "#pButton", function(){
      var hit_id = $(this).data("button_id");
      var music = $(".hit").find("[data-hit_id='" + hit_id + "']")[0]; // id for audio element
      var pButton = $(".hit").find("[data-button_id='" + hit_id + "']")[0];

        // start music
        if (music.paused) {
          music.play();
          // remove play, add pause
          pButton.className = "";
          pButton.className = "pause";
        } else { // pause music
          music.pause();
          // remove pause, add play
          pButton.className = "";
          pButton.className = "play";
        }
    });
  };
</script>

<% end %>
