<% content_for :meta_title, "#{@festival.name}" %>
<% content_for :meta_description, "Faites votre propre timetable pour #{@festival.name} grâce à Super Festival" %>
<% content_for :image_url, @festival.photo %>
<%= render 'shared/flashes' %>

 <div class="wrapper">
   <div class="container">
      <div class="row" id="header-timetable-search">
        <div class="col-xs-12 col-lg-8">
          <header>
            <div id="search-input"></div>
          </header>
        </div>
        <div class="col-xs-12 col-lg-4" id= "download">
          <% if user_signed_in? %>
            <div class="download">
              <%= link_to timetables_path(:festival => params[:id]), class: "btn-std text-center" do %>
                <i class="fa fa-download" aria-hidden="true"></i> <%= "My timetable" %>
              <% end %>
              <%= link_to user_spotify_omniauth_authorize_path, class: "btn-spotify text-center" do %>
                <i class="fa fa-spotify" aria-hidden="true"></i> <%= "Get my playlist" %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="row">
         <div class="col-xs-12 col-lg-8" id="search-timetable-container">
          <header>
            <div id="concert_day" class="facet"></div>
          </header>

          <main>
            <div>
              <div id="hits">
                <div class="ais-hits">
                </div>
                <span id="festival_name" class="facet hidden"></span>
              </div>
            </div>
          </main>
        </div>

        <div id="timetable-container" class="col-lg-4">
          <%= render "timetable"%>
        </div>
        <!-- /INTERFACE -->

        <!-- TEMPLATES -->

        <script type="text/html" id="no-results-template">
          <div id="no-results-message">
            <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
          </div>
        </script>
        <!-- /TEMPLATES -->

        <!-- SCRIPTS -->

      <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  app({
    appId: ENV_ALGOLIA_ID,
    apiKey: ENV_ALGOLIA_API_KEY,
    indexName: 'Concert',
    urlSync: true,
    impossibleIds: <%= j @impossible_concerts.to_json %>,
    festival: <%= @festival.id %>,
  });

  function clickfestival() {
    $('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').click();
    $('a.ais-menu--link:contains("1")').parent().parent().click()
  }

  $(document).ready(function() {
    setTimeout(function(){
      if (!($('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').is(':checked'))){
        setTimeout(clickfestival, 50)
      }

      var tour = new Tour({
      orphan: true,
      backdrop: true,
      steps: [
        {
          placement: 'left',
          element: "#timetable-container",
          content: "#"
        },
        {
          placement: 'left',
          element: "#timetable-container",
          content: "#"
        },
        {
          prev: 2,
          element: '#<%= @festival.concerts[2].id %>',
          placement: 'bottom',
          title: "Discover new artists",
          content: "Listen to their best song and add the concert to your timetable"
        },
        {
          placement: 'left',
          element: "#timetable-container",
          content: "The concert will appear on your timetable - if you want to remove it, press x"
        },
        {
          placement: 'left',
          element: "#download",
          title: "Done with your timetable?",
          content: "Click here to add it on your agenda or create your Spotify festival playlist!"
        },
        {
          orphan: true,
          content: "Your turn!\nEnjoy your SuperFestival!"
        }
      ],
      onStart: function (tour) {
        tour.setCurrentStep(0);
      }
    });
    tour.init();
    tour.start();

     }, 200)
  });


</script>
<script>
  $(document).ready(function() {



      $('div').on('click', ".ais-menu--link", function() {
        // On écoute l'élément Parent .ais-menu--list et on déclenche une action au click sur l'élément enfant .ais-menu--link qui lui est généré dynamiquement

        var day = parseInt($(this).text().slice(0,1));

        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
          });
        });

    setTimeout(function(){
      if($('.ais-menu--list').children().hasClass('ais-menu--item__active')){
        var day = parseInt($('.ais-menu--item__active').text().slice(0,1));

        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
        });
      }
      else {
        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + 1
        });
      };
    }, 100);



    $('#search-timetable-container').on('click', "#pButton", function(){
      var hit_id = $(this).data("button_id");
      var music = $(".hit").find("[data-hit_id='" + hit_id + "']")[0]; // id for audio element
      var pButton = $(".hit").find("[data-button_id='" + hit_id + "']")[0];

        // start music
        if (music.paused) {
          music.play();
          // remove play, add pause
          pButton.className = "";
          pButton.className = "pause";
        } else { // pause music
          music.pause();
          // remove pause, add play
          pButton.className = "";
          pButton.className = "play";
        }
    });
  });
</script>

<% end %>
