<% content_for :meta_title, "#{@festival.name}" %>
<% content_for :meta_description, "Faites votre propre timetable pour #{@festival.name} grâce à Super Festival" %>
<% content_for :image_url, @festival.photo %>
  <%= render 'shared/flashes' %>

 <div class="wrapper">
   <div class="container">

      <div class="row">
       <div id="title-show">
         <h2 class='text-center pink-shadow' ><%= @festival.name %></h2>
        </div>
      </div>
      <% if user_signed_in? %>
      <div class="row download">
        <div><%= link_to timetables_url(:festival => params[:id]), class: "btn-std" do %>
          <%= t("Download my timetable") %>
        <% end %>
        </div>
        <div><%= link_to user_spotify_omniauth_authorize_path, class: "btn-std" do %>
          <%= t("Get my playlist for #{@festival.name}") %>
        <% end %>
        </div>
      </div>

      <% end %>

      <div class="row">
         <div class="col-xs-12 col-lg-8" id="search-timetable-container">
          <header>
            <div id="search-input"></div>
            <div id="concert_day" class="facet"></div>
          </header>

          <main>
            <div>
              <div id="hits"></div>
              <div id="pagination"></div>
              <span id="festival_name" class="facet hidden"></span>
            </div>
          </main>
        </div>

        <div id="timetable-container" class="col-lg-4">
          <%= render "timetable"%>
        </div>
        <!-- /INTERFACE -->

        <!-- TEMPLATES -->
        <script type="text/html" id="hit-template">

          <div class="hit" id="{{id}}">
            <div class="hit-content">
            {{ artist_name }} - {{ artist_genre}} / {{ start_hour }} - {{ end_hour }}
              <% if user_signed_in? %>
                <a href="{{ event_url }}" data-method="post" data-remote="true"><i class="fa fa-plus" aria-hidden="true"></i></a>
              <% end %>
              {{#best_song}}
                <audio id="music" preload="true" data-hit_id="{{id}}">
                  <source src="{{best_song}}"
                       type='audio/mp3'>
                  <p>Your user agent does not support this streaming feature</p>
                </audio>
                <a id="pButton" class="play" data-button_id="{{id}}"></a>
              {{/best_song}}
            </div>
          </div>
        </script>

        <script type="text/html" id="no-results-template">
          <div id="no-results-message">
            <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
          </div>
        </script>
        <!-- /TEMPLATES -->

        <!-- SCRIPTS -->

      <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  function clickfestival() {
    $('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').click();
    $('a.ais-menu--link:contains("1")').parent().parent().click()
  }

  $(document).ready(function() {

    setTimeout(function(){
      if (!($('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').is(':checked'))) {
        setTimeout(clickfestival, 100)
      }

      var impossibleIds = <%= j @impossible_concerts.to_json %>;
      setImpossibleEvents(impossibleIds);

    }, 400)
  });
</script>
<script>
  window.onload = function() {

    $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + 1
        });

    setTimeout(function(){
      $('div').on('click', ".ais-menu--link", function() { /* On écoute l'élément Parent .ais-menu--list et on déclenche une action au click sur l'élément enfant .ais-menu--link qui lui est généré dynamiquement */

        var day = parseInt($(this).text().slice(0,1));
        var impossibleIds = <%= j @impossible_concerts.to_json %>;
        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day,
          success: function() {
            setImpossibleEvents(impossibleIds);
          }
        });

      });

      if($('.ais-menu--list').children().hasClass('ais-menu--item__active')){
        var day = parseInt($('.ais-menu--item__active').text().slice(0,1));

        $.ajax({
          type: 'GET',
          url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
        });

      };

    }, 1000)

    $('#search-timetable-container').on('click', "#pButton", function(){
      var hit_id = $(this).data("button_id");
      var music = $(".hit").find("[data-hit_id='" + hit_id + "']")[0]; // id for audio element
      var pButton = $(".hit").find("[data-button_id='" + hit_id + "']")[0];

        // start music
        if (music.paused) {
          music.play();
          // remove play, add pause
          pButton.className = "";
          pButton.className = "pause";
        } else { // pause music
          music.pause();
          // remove pause, add play
          pButton.className = "";
          pButton.className = "play";
        }
    });
  };
</script>

<% end %>
